#gitignore

*.[doa]
*~
*.root
*.so
*.pcm
*.pyc
*.swp
*.pdf
\#*
Makefile
bin
data*
lib
macro
fieldmap
rootfile*
runmanager/log
runmanager/stat
runmanager/tmp
runmanager/my_runlist
set_links.sh
param
fig
tmp